{% extends 'partials/base.html.twig' %}

{% block content %}
{{ content }}

<div>

    {% for faq in page.header.faq %}

        <h3> {{ faq.question }}</h3>
        <div>{{ faq.answer }}</div>

    {% endfor %}

</div>

{% endblock %}
